/node_modules/
/package-lock.json
/dist/
/smiles-pp/
/labels-pp/
/ssl/
*_easyjson.go
easyjson-*
bin_data.go
cutechan.toml.example
*.qtpl.go
/mustache-pp/
/go/go-build*
/go/src/*
/go/bin/
/go/pkg/
!/go/src/meguca/
/go/multipart-*
uploads
thumb_*.jpg
thumb_*.png
tags
/geoip/

/deb_dist/
/cutechan.deb
/cutechan.toml.example
.exclude
.include
.vscode/settings.json
logfile
